.container {
    font-family: Inter, sans-serif;
        max-width: 464px;
        width: 100%;
        margin: 100px auto 0 auto;
    border: 1px #464647 solid;
    border-radius: 6px;
    background-color: #464647;
    color: #fff;
    }
.block-result {
    max-width: 464px;
}
.block-result input{
    width: 100%;
    font-size: 88px;
    padding: 60px 30px 60px 0;
    text-align: right;
}
.block-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.button {
    font-size: 64px;
    height: 92px;
    border: 1px #464647 solid;
}
.number, .clear {
    font-size: 36px;
    background-color: #585859;
}
.persent,
.root,
.fraction {
    background-color: #777677;
}
.number {
    background-color: #777677;
}
.orange {
    background-color: #FF9F0A;
}
.expansion  {
    width: 100%;
    background-color: #777677;
}
.expansion img {
    height: 70px;

}